* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Layout */
body {
    width: 960px;
    height: 540px;
    color: #eef;
    background: #252526;
    background: -webkit-radial-gradient(center, ellipse cover, #5c5b57 0%, #252526 90%);
    padding: 10px;
    font-size: 16px;
}

h1 {
    color: #ededef;
    font-size: 28px;
    font-family: Tahoma;
    padding: 10px;
}

li {
    list-style: none;
}